################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.lock
*.ide
*.suo
/.vs
/FoodRecipe/.vs/FoodRecipe/v15/Server/sqlite3
/FoodRecipe/DataLayer/obj
